<div class="cocktail-banner", style= "background-image: url(<%= cl_image_path(@cocktail.photo.key) %>)">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container">
  <div class="row py-5">
    <div class="col-sm-12 col-lg-6", style = "text-align: center">
      <h2>Ingredients list</h2>
      <ul, style = "list-style: none">
        <% @cocktail.doses.each do |dose| %>
        <li>
          <span class = "ingredient"><%=dose.ingredient.name %></span>
          - <%=dose.description%>
          <%= link_to cocktail_dose_path(@cocktail), method: :delete, data: {confirm: "Are you sure?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-12 col-lg-6", style = "text-align: center">
      <h2>Add a new ingredient</h2>
      <%= simple_form_for [@cocktail, @dose] do |d|%>
        <%= d.input :description%>
        <%= d.input :ingredient, collection: Ingredient.all, input_html: {multiple: true} %>
        <%= d.submit "Add Ingredient", :class => "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>



